recursive-include bullseye/cbuild/algorithms/single lib*
recursive-include bullseye/cbuild/algorithms/double lib*
recursive-include bullseye/cbuild/gpu_algorithm/single lib*
recursive-include bullseye/cbuild/gpu_algorithm/double lib*